<!-- <div class="container min-w-full">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2">
    <div class="h-[300px] w-full" *ngFor="let list of lists">
      <app-list-preview [list]="list"></app-list-preview>
    </div>
  </div>
</div> -->

<div class="carrousel__container min-w-full">
  <div
    class="carrousel flex flex-col gap-2 pb-10"
    infinite-scroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
    <ng-container *ngIf="userLists$ | async as lists">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2">
        <div class="h-[300px] w-full" *ngFor="let list of lists">
          <app-list-preview [list]="list"> </app-list-preview>
        </div>
      </div>
    </ng-container>
  </div>
</div>
